.cardParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
    box-shadow: 0 2px 6px 4px rgba(202, 201, 201, 0.514);
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 1.5rem 1rem;
  }
  
  .textSection {
    padding: 10px;
  }
  
  img {
    height: 100px;
    width: 100px;
  }
  
  span {
    display: flex;
    justify-content: space-between;
  }